<app-cabecera></app-cabecera>
<div class="especialidad">
  <h2 *ngIf="especialidadId == 0">Agregar Especialidad</h2>
  <h2 *ngIf="especialidadId > 0">Editar Especialidad</h2>
<br>
<form [formGroup]="addEditEspecialidad">
  <mat-form-field>
    <mat-label>Id</mat-label>
    <input matInput formControlName="id" readonly="true">
  </mat-form-field>
  <br><br>

  <mat-form-field>
    <mat-label>Nombre de la Especialidad</mat-label>
    <input matInput formControlName="specializationName" placeholder="Ingrese el nombre de la especialidad">
  </mat-form-field>
  <br><br>

  <mat-form-field>
    <mat-label>Descripción de la Especialidad</mat-label>
    <input matInput formControlName="profileDescription" placeholder="Ingrese una descripción">
  </mat-form-field>
  <br><br>

  <div class="button-group">
    <button mat-stroked-button routerLink="/especialidades">Cancelar</button>
    <button mat-raised-button color="primary" (click)="grabarCategoria()">Grabar</button>
  </div>
</form>
</div>