<div class="servicios-section">
    <h2>Nuestros Servicios</h2>
    <div class="servicios-content">
        <div class="servicio">
            <img src="Reco.jpg" alt="Recomendaciones Personalizadas">
            <h3>Recomendaciones Personalizadas</h3>
            <p>Recibe planes nutricionales adaptados a tus necesidades y objetivos de salud.</p>
        </div>
        <div class="servicio">
            <img src="sumpl.jpg" alt="Suplementos de Calidad">
            <h3>Suplementos de Calidad</h3>
            <p>Accede a una amplia gama de suplementos nutricionales de alta calidad.</p>
        </div>
        <div class="servicio">
            <img src="asesoria.jpg" alt="Asesoría Profesional">
            <h3>Asesoría Profesional</h3>
            <p>Consulta con profesionales de la salud y nutrición para obtener orientación continua.</p>
        </div>
    </div>
</div>
