<div class="nosotros-section">
  <div class="nosotros-content">
      <h2>Nosotros</h2>
      <p>
          NutriMentor fue creado con el compromiso de transformar la salud y el bienestar a través de soluciones nutricionales personalizadas. Nuestra misión es ofrecer recomendaciones basadas en la ciencia y tecnología avanzada para que cada persona alcance sus objetivos de salud de manera efectiva y accesible.
      </p>
  </div>
  <div class="nosotros-image">
      <img src="Noso.jpg" alt="Equipo de NutriMentor">
  </div>
</div>
