<app-cabecera></app-cabecera>
<!-- Hero section -->
<div class="hero-section">
  <img srcset="Fondo.jpg" alt="Imagen de fondo" class="hero-background">
  <div class="hero-content">
    <h1>MEJORA TU BIENESTAR CON NUTRIMENTOR</h1>
    <p>Descubre suplementos y planes nutricionales personalizados para una vida más saludable</p>
    <button mat-raised-button color="accent" routerLink="/shop-products">VER PRODUCTOS</button>
  </div>
</div>

<app-nosotros></app-nosotros>
<app-mision-vision></app-mision-vision>
<app-servicios></app-servicios>
<app-faq></app-faq>
