.hero-section {
  position: relative;
  height: 80vh; /* Ajusta la altura según tus necesidades */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
  overflow: hidden; /* Para evitar que la imagen se salga del contenedor */
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.4); /* Oscurece la imagen para que el texto resalte */
  z-index: -1;
  animation: zoomEffect 15s infinite alternate ease-in-out;
}

@keyframes zoomEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.hero-content p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.hero-content button {
  font-size: 1rem;
  background-color: #269506; /* Color verde para el botón */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
}
