<div class="mision-vision-full-width">
    <div class="mision-vision-section">
        <div class="mision-vision-image">
            <img src="Mi.jpg" alt="Misión y Visión de Nutrimentor">
        </div>
        <div class="mision-vision-content">
            <h2>Misión y Visión</h2>
            <p>
                <strong>Misión:</strong> Brindar soluciones nutricionales personalizadas para mejorar la salud y el bienestar de nuestros usuarios.<br>
                <strong>Visión:</strong> Ser líderes en nutrición personalizada, revolucionando la forma en que las personas alcanzan sus metas de salud y bienestar.
            </p>
        </div>
    </div>
</div>
