<app-cabecera></app-cabecera>
<div class="producto">
<h2 *ngIf="productoId === 0">Agregar Producto</h2>
<h2 *ngIf="productoId > 0">Editar Producto</h2>

<form [formGroup]="addEditProducto">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name" placeholder="Nombre del producto">
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-label>Categoría</mat-label>
    <mat-select formControlName="categoryId">
      <mat-option *ngFor="let category of categories" [value]="category.id">
        {{ category.type }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-label>Precio</mat-label>
    <input matInput formControlName="price" type="number">
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-label>Stock</mat-label>
    <input matInput formControlName="stock" type="number">
  </mat-form-field>
  <br>

  <div>
    <label for="logo">Logo del producto</label>
    <input type="file" id="logo" (change)="actualizaLogo($event)" accept="image/*">
    <br>
    <img *ngIf="base64Logo" [src]="base64Logo" width="200" alt="Logo del Producto">
  </div>
  <br>

  <button mat-raised-button color="primary" (click)="grabarProducto()">Guardar</button>
  <button mat-button routerLink="/productos">Cancelar</button>
</form>
</div>