<app-cabecera></app-cabecera>
<div class="compras">
  <h2>Lista de Compras</h2>


<mat-form-field>
  <mat-label>Filtrar</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Escriba un filtro" #input>
</mat-form-field>

<button mat-raised-button color="primary" routerLink="/compra-add">Agregar nueva Compra</button>

<table mat-table [dataSource]="dsCompras" class="mat-elevation-z8">
  <!-- Columna ID -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> # Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Columna Fecha de Pedido -->
  <ng-container matColumnDef="orderDate">
    <th mat-header-cell *matHeaderCellDef> Fecha de Pedido </th>
    <td mat-cell *matCellDef="let element"> {{element.orderDate | date}} </td>
  </ng-container>


  <!-- Columna Nombre del Cliente -->
  <ng-container matColumnDef="clientName">
    <th mat-header-cell *matHeaderCellDef> Nombre del Cliente </th>
    <td mat-cell *matCellDef="let element"> {{element.clientName}} </td>
  </ng-container>

  <!-- Columna Opciones -->
  <ng-container matColumnDef="opciones">
    <th mat-header-cell *matHeaderCellDef> Opciones </th>
    <td mat-cell *matCellDef="let element">
      <a (click)="onDelete(element.id)" style="cursor: pointer;" title="Eliminar">
        <mat-icon color="warn">delete</mat-icon>
      </a>
      <a [routerLink]="['/compra-edit/', element.id]" style="cursor: pointer;" title="Editar">
        <mat-icon color="primary">edit</mat-icon>
      </a>
    </td>
  </ng-container>

  <!-- Definición de Filas -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>