<app-cabecera></app-cabecera>

<div class="cliente">
  <h2 *ngIf="clienteId == 0">Agregar un Cliente</h2>
  <h2 *ngIf="clienteId > 0">Editar una Cliente</h2>

<br>
<form [formGroup]="addEditCliente">
  <mat-form-field>
    <mat-label>Id</mat-label>
    <input matInput formControlName="id" readonly="true">
  </mat-form-field>
  <br><br>

  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name" placeholder="Ingrese su nombre">
  </mat-form-field>
  <br><br>

  <mat-form-field>
    <mat-label>email</mat-label>
    <input matInput formControlName="email" placeholder="Ingrese su Correo">
  </mat-form-field>
  <br><br>

    <mat-form-field>
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="address" placeholder="Ingrese su Dirección">
    </mat-form-field>

  <div class="button-group">
    <button mat-stroked-button routerLink="/clientes">Cancelar</button>
    <button mat-raised-button color="primary" (click)="grabarCliente()">Grabar</button>
  </div>
</form>
</div>
