/* Contenedor principal */
.perfil-container {
    background: linear-gradient(to right, #3CA55C, #B5AC49);
    height: 100vh; /* Cubrir toda la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Caja central */
  .perfil-card {
    background-color: white;
    width: 50%;
    max-width: 500px;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  /* Icono de perfil */
  .icono-perfil {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .perfil-icon {
    font-size: 5rem;
    color: #3CA55C;
    background-color: #E8F5E9;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Título */
  .perfil-card h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #3CA55C;
    margin-bottom: 20px;
  }
  
  /* Campos del formulario */
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  mat-form-field input {
    font-size: 1rem;
    border-radius: 5px;
  }
  
  /* Botones */
  .button-group {
    text-align: center;
    margin-top: 20px;
  }
  
  button[mat-stroked-button] {
    margin-right: 10px;
    border: 2px solid #ccc;
    padding: 10px 20px;
    font-weight: bold;
    color: #6c757d;
  }
  
  button[mat-raised-button] {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #3CA55C;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  button[mat-raised-button]:hover {
    background-color: green;
    transform: scale(1.05);
  }
  